<button><a href='/admin/all_off'>All Off</a></button>
<button><a href='/admin/all_on'>All On</a></button>
<button><a href='/admin/refresh_now'>Refresh Now</a></button>
<% if user_signed_in? %>
  <%= link_to 'Add a sign!', new_sign_path, class: 'btn btn-primary btn-lg active' %>
<% end %>
