<div class='row'>
<div class='col-6'>
  <div class='row'>
    <% @signs.each do |sign| %>
    <div class='w-25 p-3'>
      <%= render partial: 'sign', object: sign %>
    </div>
  <% end %>
  </div>
</div>


<div class='col-6'>
  <form>
    <label for='keyword''><b>Enter keyword and select corresponding signs</b></label>
    <input name='keyword' id='keyword' type='text' class='form-control'>
<div class='form-row'>
<% Sign.all.each do |s| %>
  <div class='form-check w-25'>
    <label class='form-check-label'>
      <input type='checkbox' class='form-check-input'>
      <%= s.name %>
      </label>
  </div>
  <% end %>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<table class='table'>
<% @recent_headlines.each do |headline| %>
  <tr>
    <td><%= link_to headline.headline, headline.link %></td>
  </tr>
<% end %>
</table>
</div>
</div>
