<h1>Signs</h1>
<div class="card-deck">

<div class='row'>
  <% @signs.each do |sign| %>

  <div class='w-25 p-3'>
    <%= render partial: 'sign', object: sign%>
  </div>

  <% end %>
</div>
</div>
<br/>
<%= link_to 'Add a sign!', new_sign_path, class: 'btn btn-primary btn-lg active' %>
