<div class='card'>
  <div class='card-block'>
    <h1 class='card-title'>Editing Keyword</h1>

    <div>
    <%= render 'form', keyword: @keyword %>
    </div>

    <%= link_to 'Show', @keyword %> |
    <%= link_to 'Back', keywords_path %>
  </div>
</div>

