<%= form_with(model: recent_headline, local: true) do |form| %>
  <% if recent_headline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recent_headline.errors.count, "error") %> prohibited this recent_headline from being saved:</h2>

      <ul>
      <% recent_headline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
